@import 'bulma';

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	margin-top: 10px;
	margin-bottom: 40px;
}

.circleImage {
	width: 150px;
	height: 150px;
	background-image: url(http://placecage.com/150/150);
	border-radius: 100%;
}

.homePageContainer{
	display: flex;
	justify-content: center;
	align-items: center;

}

.addPageContainer{
	padding: 0px 10%;
}

.detailPageContainer{
	display: flex;
	justify-content: center;
}

.columns {
	width: 80%;
	display: flex;
	justify-content: center;
}

.card {
	display: inline-block;
	background-color: transparent;
	box-shadow: none;
	position: relative;
}

.delete {
	position: absolute;
	top: 0px;
	right: 0px;
}

.infoColumn{
	position: relative;
}

.content {
	margin-top: 10px;
}

.hero-body {
	padding: 5px 20px;
}

.likeCount {
	margin-left: 5px;
}

.icon{
	position: absolute;
	top: 40%;
	left: 40%;	
	color: white;
	display: flex;
	align-items: center;
}

.imageColumn {
	position: relative;
}

.displayIcon {
	position: absolute;
	top: 40%;
	left: 40%;	
	color: white;
	&:hover{
		text-shadow: 0 0 30px #66D9EB;
	}
}

.likeCountDetail{
	margin-top: 5px;
	font-size: 12px;
}