
<div class="detailPageContainer">
	<div class="columns">
		<div class="column is-half imageColumn">
			<img ng-src="{{ detailImage.url }}" ng-mouseenter="mouseOver(detailImage)" ng-mouseleave="mouseLeave(detailImage)">
		    <span ng-show="detailImage.popup">
		    	<i class="fa fa-heart fa-5x displayIcon" ng-click="likeImage(detailImage)" ng-mouseenter="mouseOver(detailImage)" ng-mouseleave="mouseLeave(detailImage)"></i>
	  		</span>			
		</div>
		<div class="column infoColumn is-half">
			<section class="hero is-dark">
			  <div class="hero-body">
			    <div class="container">
			    	<h2 class="subtitle">
			        	{{detailImage.name}}
			    	</h2>
			    </div>
			  </div>
			</section>
			<div class="likeCountDetail">Likes: {{detailImage.likeCount}}</div>			
			<div class="content">
				{{ detailImage.information }}
			</div>
		</div>
	</div>
</div>