<h1>Detail Page</h1>

<div class="columns">
	<div class="column is-half">
		<img src="http://placecage.com/1000/1000">
		<img ng-src="{{ image.url }}">
	</div>
	<div class="column is-half">
		<div class="tag is-dark">
			{{ image.name }} PLACEHOLDER
		</div>
		<div class="content">
			{{ image.information }} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>