<div class="homePageContainer">
	<div class="columns is-multiline">
		<div class="card column is-three-quarters-mobile is-one-third-tablet is-one-quarter-desktop" ng-repeat="image in images">
		  <div class="card-image {{ image._id }}">
		    <figure class="image is-4by3">
		      <a href="/#/detail/{{image._id}}">
		      	<img ng-src="{{image.url}}" alt="{{image.name}}" ng-mouseenter="mouseOver(image)" ng-mouseleave="mouseLeave(image)" ng-dblclick="likeImage(image)">
		      </a>
		    </figure>
		    <span class="icon" ng-show="image.popup">
		    	<i class="fa fa-heart" ng-click="likeImage(image)" ng-mouseenter="mouseOver(image)" ng-mouseleave="mouseLeave(image)"></i>
		    	<div class="likeCount">{{image.likeCount}}</div>
	  		</span>
	  		<button class="delete" ng-show="image.popup" ng-click="deleteImage(image)" ng-mouseenter="mouseOver(image)" ng-mouseleave="mouseLeave(image)"></button>
		  </div>
		</div>
	</div>
</div>