<div class="layoutContainer">
  <div class="titleHeader">Instagrandmaster
  </div> 
  <nav>
    <h1 class="nav-center">
      <a class="nav-item is-tab" href="/#/">
        <div class="nav-item circleImage ">
        </div>
      </a>
    </h1>
    <div class="nav-center">
      <a class="nav-item is-tab" href="/#/">Home</a>
      <a class="nav-item is-tab" href="/#/addedit">Add/Edit</a>
    </div>
  </nav>

  <div ui-view></div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
           &copy 2016 | <strong>Instagrandmaster</strong> by <a href="http://github.com/williamjohnsonjr">Will Johnson</a>
        </p>
      </div>
    </div>
  </footer>
</div>